.process02 {
    background-color: #C5DAD1;
    height: 70vh;
    padding-top: 10vh;
}
.inner-content {
    display: flex;
    flex-direction: row;
}
.invitation-item{
    margin: 1px;
    display: flex;
}
.upload-input {
    padding-top: 50%;
}
.upload01 {
    display: flex;
}
.upload02 {
    display: flex;
}
.buttons {
    display: inline;
    float: right;
    margin: 5px;
}
.input-container{
    display:flex;
    flex-direction: column;
}