.album-deleted {
    background-color: #C5DAD1;
    height: 65vh;
    padding: 10%;
    }

.media-items{
    display: flex;
    flex-wrap: wrap; /*크기변형없이 한줄 넘으면 다음줄로*/
    justify-content: center;
    background-color: bisque;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-icons {
    display: flex;
}
.bin-icon {
    justify-content: end;
}